[Desktop Entry]
Version=1.0
Type=Application
Name=Signal
GenericName=Messaging App
Comment=Private messaging from your desktop
TryExec=signal-wayland
Exec=signal-wayland %U
Icon=signal-desktop
Terminal=false
Categories=Network;InstantMessaging;Chat;
Keywords=signal;chat;messaging;secure;private;encryption;
MimeType=x-scheme-handler/sgnl;x-scheme-handler/signalcaptcha;
StartupNotify=true
StartupWMClass=Signal
Actions=NewMessage;

[Desktop Action NewMessage]
Name=New Message
Exec=signal-wayland --new-window
