[Desktop Entry]
Version=1.0
Type=Application
Name=Zed
GenericName=Code Editor
Comment=A high-performance, multiplayer code editor from the creators of Atom and Tree-sitter
TryExec=zed-wayland
Exec=zed-wayland %U
Icon=zed
Terminal=false
Categories=Development;IDE;TextEditor;Utility;
Keywords=zed;editor;code;development;programming;
MimeType=text/plain;text/x-chdr;text/x-csrc;text/x-c++hdr;text/x-c++src;text/x-java;text/x-dsrc;text/x-pascal;text/x-perl;text/x-python;application/x-php;application/x-httpd-php3;application/x-httpd-php4;application/x-httpd-php5;application/xml;text/html;text/css;text/x-sql;text/x-diff;application/javascript;application/json;text/x-markdown;text/x-rust;text/x-go;text/x-ruby;text/x-lua;text/x-yaml;text/x-toml;application/x-shellscript;x-scheme-handler/zed;
StartupNotify=true
StartupWMClass=zed
Actions=NewWindow;

[Desktop Action NewWindow]
Name=New Window
Exec=zed-wayland --new %U
