[Unit]
Description=ArchRiot Version Check
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=%h/.local/share/archriot/config/bin/version-check
Environment=DISPLAY=:0
Environment=WAYLAND_DISPLAY=wayland-1
Environment=XDG_RUNTIME_DIR=%t
Environment=XDG_SESSION_TYPE=wayland
Environment=XDG_CURRENT_DESKTOP=Hyprland
Environment=QT_QPA_PLATFORM=wayland
Environment=GDK_BACKEND=wayland,x11
