[Desktop Entry]
Type=Application
Version=1.0
Name=kitty URL Launcher
Comment=Open URLs with kitty
TryExec=kitty
Exec=kitty +open %U
Icon=kitty
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;commandline;cmd;url;
StartupWMClass=kitty
MimeType=x-scheme-handler/kitty;
Hidden=true
