[Desktop Entry]
Version=1.0
Name=Activity
Comment=System processes and activity
Exec=gnome-system-monitor --show-processes-tab
Terminal=false
Type=Application
Icon=org.gnome.SystemMonitor
Categories=GTK;
StartupNotify=false
