[Desktop Entry]
Version=1.0
Name=Activity
Comment=System activity from btop
Exec=ghostty --class=Activity --title=Activity -e btop
Terminal=false
Type=Application
Icon=btop
Categories=GTK;
StartupNotify=false
