[Desktop Entry]
Version=1.0
Type=Application
Name=Bluesky
GenericName=Social Client
Comment=Open the Bluesky social network
Icon=applications-internet
TryExec=brave
Exec=sh -c 'brave --new-window --ozone-platform=wayland --app="https://bsky.app/"'
Terminal=false
Categories=Network;WebBrowser;Chat;InstantMessaging;
StartupNotify=true
Keywords=bluesky;social;microblog;atproto;web;
