[Desktop Entry]
Version=1.0
Name=System Monitor
Comment=View system resources and performance
Exec=gnome-system-monitor --show-resources-tab
Icon=org.gnome.SystemMonitor
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=gnome-system-monitor
Categories=System;Monitor;
Keywords=Monitor;System;Process;CPU;Memory;Network;History;Usage;
